
.ui.card.list {
  background-color: #e3e5e8;
}

#login {
  background-color: #041143;
  height: 101%;
}

.logo {
height:25%;
margin-bottom:-12%;
}



.header-logo {
  height:10%;
}

#cardArray {
  display: flex;
  justify-content: flex-start;
  flex-wrap: nowrap;
  overflow-x: scroll;
  width: 100%;
  overflow-x: hidden;
}

#list {
  margin-top: 1em;
  margin-right: 1em;
  height: 100%;
}

.ui.segment {
    opacity: .9;
}

#boardtitle {
  display: flex;
  justify-content: space-between;
}

#cardDetail {
  display: flex;
  justify-content: center;
  width: 100%;
}
