
.ui.card.list {
  background-color: #e3e5e8;
}

#login {
  background-color: #041143;
  height: 100%;
  overflow: hidden;
}

.logo {
height:20%;
margin-bottom:-9%;
}

.header-logo {
  height:6em;
}

.white {
  color:white
}

.segments {
opacity: .2;
}


#cardArray {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: scroll;
  width: 100%;
}

#list {
  margin-top: 1em;
  margin-right: 1em;
  height: 100%;
}

#boardtitle {
  display: flex;
  justify-content: space-between;
}

#cardDetail {
  display: flex;
  justify-content: center;
  width: 100%;
}

#board-container {
  width:114%;
}
